<div id=<%= dom_id(community) %>>
  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= community.name %>
  </td>
  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= community.descriptions %>
  </td>
</div>